////////////////////
// 1. Base Styles //
////////////////////
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    border: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Colfax', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    transition: all $transition-timing ease;

    &:disabled, &.is-disabled {
        cursor: not-allowed;
    }

    .icon-arrow-right {
        margin-left: 0.125rem;
    }

    .icon-arrow-left {
        margin-right: 0.125rem;
    }

}

////////////////////////////
// 2. Primary + Secondary //
////////////////////////////
.button--primary,
.button--secondary {
    height: 2.25rem;
    min-width: 7.5rem;
    text-transform: uppercase;
    font-size: 0.6875rem;
    padding: 0 0.5rem;
    letter-spacing: 0.4px;
    font-weight: $medium;
}

.button--primary {
    background-color: $gray-10;
    color: $white;

    &:hover {
        background-color: $teal;
    }

    &:disabled,
    &.is-disabled {
        background-color: rgba($gray-10, 0.3);
        color: rgba($white, 0.5);

        svg {
            fill: rgba($white, 0.5);
        }
    }
    &:active,
    &.is-active {
        background-color: $white;
        color: $teal;
        border: 1px solid $teal;
    }
}

.button--secondary {
    background-color: $white;
    border: 1px solid $gray-7;
    color: $gray-8;

    [class*='icon'] {
        color: $gray-8;
    }

    &:hover {
        color: $gray-10;
        border-color: $gray-10;

        [class*='icon'] {
            color: $gray-10;
        }
    }

    &:disabled,
    &.is-disabled {
        border: 1px solid rgba($gray-7, 0.3);
        color: rgba($gray-8, 0.5);
    }

     &:active,
     &.is-active {
        background-color: $white;
        color: $teal;
        border: 1px solid $teal;
    }
}

/////////////////////
// 3. Text Buttons //
/////////////////////
.button--text {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: $medium;
    color: $gray-7;
    transition: color $transition-timing ease;

    a {
        text-decoration: none;
        color: $gray-7;
        transition: color $transition-timing ease;
    }

    svg {
        height: 0.5rem;
        width: 0.5rem;
        fill: $gray-7;
        transition: fill $transition-timing ease;
    }

    &:hover {
        color: $gray-10;

        a {
            color: $gray-10;
        }

        svg {
            fill: $gray-10;
        }
    }

    &:disabled,
    &.is-disabled {
        opacity: 0.5;

         a {
            cursor: not-allowed;
            color: $gray-7;
         }
    }

}

//////////////////////
// 4. Button Groups //
//////////////////////
.button-group {
    display: flex;
    align-items: center;

    .button + .button {
        margin-left: 1rem;
    }
}

.button-group--tight {
    .button {
        width: 6.25rem;
    }

    .button + .button {
        margin-left: 0.0625rem;
    }
}

.button-group--text {
    .button {
        padding: 0 0.5rem;

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;
        }
    }
    .button + .button {
        margin-left: 0;
        border-left: 1px solid $gray-7;
    }
}

.button-group--icon {
    [class*="icon-"] + [class*="icon-"] {
        padding-left: 0.75rem;
        margin-left: 0.75rem;
        border-left: 1px solid $gray-3;
    }
}

////////////////////////
// 5. Size Variations //
////////////////////////
.button--long {
    min-width: 12.5rem;
}

.button--small {
    height: 1.5rem;
    min-width: 5rem;
}

.button--large {
    font-size: 0.875rem;
    height: 3rem;
    min-width: 17.5rem;
}

.button--xLarge {
    font-size: 0.875rem;
    height: 3.75rem;
    min-width: 17.5rem;
}

.button--maxX {
    width: 100%;
}

/////////////////////
// 6. Icon Buttons //
/////////////////////
.button--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    background-color: $white;
    border: 1px solid $gray-7;
    color: $gray-8;

    &:hover {
        color: $gray-10;
        border-color: $gray-10;
    }

    & + & {
        margin-left: 0.5rem;
    }
}

/////////////////////
// 7. Misc Buttons //
/////////////////////
.button--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 7rem;
    height: 7rem;
    padding: 0 1rem;
    background: $gray-9;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;

    h8 {
        margin-top: 0.3125rem;
        color: $white;
        transition: all $transition-timing ease;
    }

    &:hover {
        h8 {
            color: $teal;
        }

        [class*="icon-"] {
            color: $teal;
        }
    }

    &:disabled,
    &.is-disabled {
        background: $gray-10;
        opacity: 0.3;

        h8 {
            opacity: 0.5;
        }

        &:hover {
            h8 {
                color: $white;
            }

            [class*="icon-"] {
                color: $white;
            }
        }
    }
}
