.error {
  display: none;
  align-items: flex-start;
  position: absolute;
  min-width: 15rem;
  margin-top: 0.5625rem;
  padding: 0.625rem;
  border-radius: 2px;
  background: rgba(0,0,0,0.6);
  color: $white;
  font-style: normal;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  transition: all $transition-timing ease;


  p2 {
    color: $white;
    padding-left: 0.625rem;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0.625rem;
    top: -0.25rem;
    @include triangle(0.5rem 0.25rem, rgba(0,0,0,0.6), up);
  }
}

.error-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  border-radius: 50%;
  background: $red;
}