.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 2.25rem;
    margin-top: 0.5rem;

    &:focus {
        border-color: $gray-10;
    }
}

.input-wrapper--datepicker {
    position: relative;

    .input {
        padding: 0;
        border: 0;
    }

    .mydp {
        padding: 0 0.5rem;
        border: 1px solid $gray-5;
        transition: border-color $transition-timing ease;

        &.is-open {
            border-color: $gray-10;
        }
    }
}

.input-icon {
    color: $gray-7;
    z-index: 2;
}

.input-icon--left,
.input-icon--right {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    margin: 0 0.5rem;
}

.input-icon--left {
    left: 0;

    & + .input {
        padding-left: 1.25rem;
    }
}

.input-icon--right {
    right: 0;
}

.input {
    flex: 1;
    position: relative;
    width: 100%;
    min-height: 2.25rem;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    font-size: 0.875rem;
    font-family: 'Colfax', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: $white;
    transition: border-color $transition-timing ease;
    padding: 0 0.5rem;
    border: 1px solid $gray-5;
    box-sizing: border-box;

    &:disabled,
    &[disabled='disabled'],
    &.is-disabled {
        background: $gray-0;
        user-select: none;
    }

    &:focus {
        border-color: $gray-10;
    }
}

.input--half {
    width: 50%;

    & + & {
        .input {
            border-left: 0;
        }
    }
}

.input--standard {
    width: 12.5rem;
}

.input--large {
    width: 30.125rem;
    padding: 0.5rem;
    font-size: 1.875rem;
    line-height: 2.125rem;
}

.input--search {
    display: flex;
    height: 2.25rem;
    margin-bottom: 2.25rem;
    margin-right: 1rem;
}

.input--datepicker {
    .input-error {
        &:after {
            left: -0.0625rem;
            height: 2.1875rem;
        }
    }
}

.textarea {
    padding: 1rem;
    font-size: 0.875rem;
    font-family: 'Colfax', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.input-option {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -1.25rem;
    right: 0;

    p2 {
        line-height: 0.8125rem;
    }
}

.input-option--above {
    bottom: auto;
    top: -0.4375rem;
}

.input-error {
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0.0625rem;

    p2 {
        line-height: 0.9375rem;
        color: $red;
    }

    &:after {
        position: absolute;
        top: -2.4375rem;
        left: 0;
        content: '';
        height: 2.125rem;
        width: 0.25rem;
        background-color: $red;
    }
}