.switch {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 0.875rem;
	width: 1.625rem;
	border: 1px solid $gray-5;
	border-radius: 2rem;
	background-color: $gray-5;
	transition: all 0.175s ease-in;

	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 0.0625rem;
		left: 0.0625rem;
		width: 0.625rem;
		height: 0.625rem;
		background-color: #fff;
		border-radius: 50%;
		transition: all 0.175s ease-in;
	}

	&.is-on {
		border-color: $teal;
		background-color: $teal;

		&:after {
			left: calc(100% - 0.6875rem);
			border-color: $teal;
		}
	}
}

.switch-label {
	text-transform: uppercase;
	margin-left: 0.5rem;
}

.switch-label--active {
	color: $teal;
}

.switch-label--paused {
	color: $gray-7;
}