.table {
    margin: 2.5rem 0;
}

.table--padded {
    [class*="column-"] {
        padding-right: 0.75rem;
        padding-left: 0.75rem;

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;
        }
    }
}

.table-header,
.table-row {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}

.table-header {
	border-bottom: 2px solid $gray-10;
	padding: 0.625rem 0;

    h8 {
        text-transform: uppercase;
    }
}

.table-row {
	align-items: center;
	height: 3.75rem;
	border-bottom: 1px solid $gray-3;

	.dropdown-menu {
		top: calc(100% + 0.75rem);
		right: 0;
        background: $white;
        border: 1px solid $gray-5;
        overflow: visible;
        text-align: center;
        width: 12.5rem;
        text-align: left;

        &:before {
            position: absolute;
            top: -0.625rem;
            right: 0.5rem;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 10px;
            border-color: transparent transparent $gray-5;
        }

        &:after {
            position: absolute;
            top: -0.5rem;
            right: 0.625rem;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 8px;
            border-color: transparent transparent $white;
            z-index: $level-2;
        }

        li:first-of-type:hover {
            position: relative;

            &:after {
                position: absolute;
                top: -0.5rem;
                right: 0.625rem;
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 6px 8px;
                border-color: transparent transparent $gray-10;
                z-index: $level-10;
            }
        }
	}
}

.table-link {
    cursor: pointer;

    &:hover {
        color: $teal;
    }
}