.tabs {
	display: flex;
	height: 2.125rem;
}

.tab {
	position: relative;
	cursor: pointer;

	h4 {
		padding-bottom: 0.125rem;
		color: rgba($white, 0.7);
	}

	& + & {
		margin-left: 3.215rem;
	}

	&.is-active {
		h4 {
			border-bottom: 2px solid $white;
			color: $white;
		}
	}
}
