<div class="page">
	<div class="hero">
		<div class="overlay">
			<div class="overlay-content">
				<h1 class="t-caps">Lorem ipsum</h1>
				<h1 class="t-caps">according to</h1>
				<h1 class="t-caps">pretty toney</h1>
			</div>
		</div>
	</div>

	<div class="ipsum">
		<div class="actions">
			<div
				class="dropdown"
				dropdown>
				<div
					class="dropdown-toggle"
					dropdown-open>
			        <a>{{selection}} Paragraphs</a>
				</div>
		        <ul class="dropdown-menu">
		            <li
		            	class="dropdown-item"
		            	*ngFor=" let button of [1,2,3,4,5]; let index = index"
						(click)="buildParagraphs(index + 1)">
						<span>{{index + 1}} Paragraphs</span>
					</li>
		        </ul>
		    </div>

			<button class="button">
				<span>Copy Text</span>
			</button>
		</div>

	    <div class="paragraphs">
			<p
				class="paragraph"
				*ngFor="let paragraph of paragraphs">
				{{paragraph}}
			</p>
	    </div>
	</div>
</div>