<div class="content u-flex">
	<div class="hero"></div>
	<div class="overlay">
		<div class="overlay-content">
			<h1 class="t-caps">Lorem ipsum</h1>
			<h1 class="t-caps">according to</h1>
			<h1 class="t-caps">pretty toney</h1>
		</div>
	</div>

	<div class="u-fillRemaining u-centerXY u-pullRight">
		<div class="ipsum">
			<div
				class="dropdown"
				dropdown>
		        <a dropdown-open>{{selection}} Paragraphs</a>
		        <ul class="dropdown-menu">
		            <li *ngFor=" let button of [1,2,3,4,5]; let index = index"
					(click)="buildParagraphs(index + 1)">
						<span>{{index + 1}} Paragraphs</span>
					</li>
		        </ul>
		    </div>

			<h3
				class="t-regular"
				*ngFor="let paragraph of paragraphs">
				{{paragraph}}
			</h3>
		</div>
	</div>
</div>