@import '../styles/variables/variables';

$screen-sm: 550px;
$screen-md: 800px;
$screen-lg: 1024px;

h2,
h3,
p {
    color: #1A1917;
}

h1 {
    font-size: 1.5rem;
    color: $white-translucent--dark;
    font-family: 'Playfair Display', serif;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.9);
    font-weight: 800;
    letter-spacing: 2px;
    transition: all $transition-timing ease;

    @media (min-width: $screen-sm) {
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 2.75px;
    }

    @media (min-width: $screen-md) {
        font-size: 4.25rem;
        line-height: 4.5rem;
        letter-spacing: 4.5px;
    }

    @media (min-width: $screen-lg) {
        font-size: 4.75rem;
        line-height: 5rem;
        letter-spacing: 5px;
    }
}

p {
    font-family: 'Lora', serif;
    // font-size: 1.0625rem;
    // line-height: 1.625rem;

    // font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 26px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    @media (min-width: $screen-md) {
        flex-direction: row;
    }
}

.hero,
.ipsum {
    display: flex;
    position: relative;
}

.hero {
    // background-image: url("https://preview.ibb.co/eU7Dh5/gfk.jpg");
    background-image: url("/assets/images/ghost3.jpg");
    background-size: cover;
    background-position: 40% 50%;
    flex: 0.33;

    @media (min-width: $screen-sm) {
        flex: 0.5;
    }

    @media (min-width: $screen-md) {
        flex: 0.4;
        // max-width: 32.75rem;
    }
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $black-translucent--light;
}

.overlay-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: calc(100% - 3rem);
    width: calc(100% - 3rem);
    border: 3px solid $white-translucent--dark;

    h1 + h1 {
        margin-left: 1.25rem;
    }

    @media (min-width: $screen-md) {
        flex-direction: column;
        // justify-content: center;
        border-width: 6px;
        height: calc(100% - 4rem);
        width: calc(100% - 4rem);

        h1 + h1 {
            margin-left: 0;
        }
    }
}


.ipsum {
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin: 2rem;
    transition: padding $transition-timing ease;

    @media (min-width: $screen-sm) {
        margin: 2rem 6rem;
    }

    @media (min-width: $screen-md) {
        flex: 0.33;
        margin: 2rem auto;
    }
}

.header {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $gray-8;
}

.logo {
    height: 2rem;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 2rem;
    width: 40%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.95px;
    color: $gray-9;
    float: right;

    &.open {
        .dropdown-menu,
        .dropdown-toggle {
            border-color: $gray-8;
        }

        .dropdown-menu {
            display: flex;
            flex-direction: column;
        }
    }
}

.dropdown-item,
.dropdown-toggle {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0 0.75rem;
}

.dropdown-toggle {
    justify-content: space-between;
    border: 1px solid $gray-5;

    &::after {
        content: '';
        height: 0;
        width: 0;
        border-width: 6px 4px 0 4px;
        border-style: solid;
        border-color: $gray-8 transparent transparent transparent;
    }
}

.dropdown-item {
    &:hover {
        background-color: $gray-9;
        color: $white;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 2rem;
    width: 100%;
    border: 1px solid $gray-8   ;
    border-top: 0;
    background-color: $white;

    &.open {
        display: flex;
        flex-direction: column;
    }
}

.paragraphs {
    height: 100%;
    padding: 0.5rem 0;
    border-bottom: 2px solid $gray-8;
    box-shadow:
        inset 0px 20px 20px -16px $gray-1,
        inset 0px -20px 20px -16px $gray-1;
    overflow-y: scroll;

    // @media (min-width: $screen-md) {
    //     height: 50%;
    // }
}

.paragraph + .paragraph {
    margin-top: 1rem;
}