<div class="page">
	<div class="hero">
		<div class="overlay">
			<div class="overlay-content">
				<h1>Pretty</h1>
				<h1>Toney</h1>
				<h1>Ipsum</h1>
			</div>
		</div>
	</div>

	<div class="ipsum">
		<header class="header">
		<img
			class="logo"
			src="https://image.ibb.co/jRaCS5/mask.png"
			alt="mask"
			border="0">

			<div
				class="dropdown u-pullRight"
				dropdown>
				<div
					class="dropdown-toggle"
					dropdown-open>
			        <a>
			        	<span>{{selection}}</span>
						<span>
							{{  selection |
									i18nPlural: {
										'=1': 'verse',
										'other': 'verses'
									}  }}
						</span>
			        </a>
				</div>
		        <ul class="dropdown-menu">
		            <li
		            	class="dropdown-item"
		            	*ngFor=" let button of [1,2,3,4,5]; let index = index"
						(click)="buildParagraphs(index + 1)">
						<span>{{index + 1}}&nbsp;</span>
						<span>
							{{  index + 1 |
									i18nPlural: {
										'=1': 'verse',
										'other': 'verses'
									}  }}
						</span>
					</li>
		        </ul>
		    </div>
		</header>

	    <div class="paragraphs">
			<p
				class="paragraph"
				*ngFor="let paragraph of paragraphs">
				{{paragraph}}
			</p>
	    </div>
	</div>
</div>