@import '../variables/colors';
@import '../variables/weights';

.t-caps {
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

.t-titleCase {
	// note: this won't transform any characters to lowercase
	text-transform: capitalize;
}

.t-regular {
	font-weight: $regular;
}

.t-medium {
	font-weight: $medium;
}

.t-alignLeft {
	text-align: left;
}

.t-alignRight {
	text-align: right;
}

.t-alignCenter {
	text-align: center;
}

.t-breakWord {
	// for FF
	word-break: break-all;
	// for Chrome && Safari
	word-break: break-word;
}
