.u-relative {
	position: relative;
}

.u-maxY {
	height: 100%;
}

.u-scroll {
	overflow-y: auto;
}

.u-hiddenScroll {
	overflow-y: hidden;
}

.u-hiddenScrollX {
	overflow-x: hidden;
}

.u-spaceBetweenX {
	justify-content: space-between;
}

.u-spaceAroundY {
	align-items: space-around;
}

.u-spaceAroundX {
	justify-content: space-around;
}

.u-baselineY {
	align-items: baseline;
}

.u-maxX {
	width: 100%;
}

.u-maxXY {
	width: 100%;
	height: 100%;
}

.u-flex {
	display: flex;
}

.u-inlineFlex {
	display: inline-flex;
}

.u-wrap {
	flex-wrap: wrap;
}

.u-column {
	flex-direction: column;

	&.u-spaceBetweenY {
		justify-content: space-between;
	}
}

.u-centerX {
	display: flex;
	justify-content: center;
}

.u-centerY {
	display: flex;
	align-items: center;
}

.u-centerXY {
	display: flex;
	align-items: center;
	justify-content: center;
}

.u-fillRemaining {
	flex: 1;
}

.u-pullRight {
	display: flex;
	justify-content: flex-end;
}

.u-pullLeft {
	display: flex;
	justify-content: flex-start;
}

.u-pullUp {
	display: flex;
	align-items: flex-start;
}

.u-pullDown {
	display: flex;
	align-items: flex-end;
}

.u-forceRender {
	transform: translate3d(0, 0, 0);
}

.u-wrap {
	white-space: normal;
}

.u-whiteSpace {
	white-space: nowrap;
}

.u-preWrap {
	white-space: pre-wrap;
}